<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="stylesheets/menu.css">
<link rel="stylesheet" href="stylesheets/default.css">
</head>
<body>
	<ul class="cssmenu">
		<li class="level1"><a href="#">Home</a></li>
		<li class="level1"><a href="#">Login</a></li>
		<li class="level1 has-child">
			<a href="#">Games</a>
			<ul>
				<li class="level2">
					<a  href="#">Logic</a>
					<ul>
						<li class="level3"><a href="#">Scrabble</a></li>
						<li class="level3"><a href="#">Draw 'n Guess</a></li>
						<li class="level3"><a href="#">Chess</a></li>
					</ul>
				</li>
			</ul>
		</li>
		<li class="level1">
			<a href="#">Friends</a>
		</li>
		<li class="level1">
			<a href="#">Logout</a>
		</li>
	</ul>
	<script src="jquery-1.11.3.min.js"></script>
	<script src="default.js></script>
</body>
</html>